doctype html
html
    head
        link(href='/stylesheets/style.css', rel='stylesheet',)
        title О практиканте
    body
        div#wrap
            h1#heading Проект на практику
            .menu-wrapper
                ul.menu
                    li
                        a(href='/') О проекте
                    li
                        a(href='') О практиканте
            h1#ab Данные о практиканте
            ol.ots
                p.usl Черныш Артур Витальевич
                p.usl Университет: Московский государственный университет экономики, статистики и информатики (МЭСИ)
                p.usl Институт компьютерных технологий, 3-й курс
                p.usl Кафедра: Прикладная информатика (в экономике)
            .page-footer_about
                p 2015 Практика