doctype html
html
  head
    link(href='/stylesheets/style.css', rel='stylesheet',)
    title О проекте
  body
      div#wrap
        h1#heading Проект на практику
        .menu-wrapper
          ul.menu
            li
              a(href='') О проекте
            li
              a(href='/about/') О практиканте
        ol.ots
          li Создать на портале Github тестовый пустой репозиторий.
          li Установить на машине разработчика систему управления версиями Git, настроить ее для работы с репозиторием тестового проекта на Github.
          li  Создать тестовый проект на основе Nodejs, в качестве базового фреймворка использовать Express js.
          p.usl     Тестовый проект должен содержать два обработчика GET HTTP запросов:
          p.usl     * / - обработчик корневого запроса должен выводить страницу описывающую содержание проекта.
          p.usl  * /about - обработчик запроса должен выводит данные о практиканте.
          p.usl Верстка страниц должна быть выполнена на языке Jade. Сборка осуществляться с помощью Grunt js.
          li Сохранить тестовый проект в Github репозитории.
          li Создать проект на Heroku.
          li Настроить тестовый проект для развертывание на Heroku.
          li Развернуть систему управления сборками Jenkins
          li Настроить Jenkins на выполнение следующих задач:
          p.usl * Выгрузка тестового проекта с github
          p.usl * Сборка тестового проекта с помощью grunt js
          p.usl * Развертывание тестового проекта на heroku
        .page-footer
         p 2015 Практика