@import url("navi.css");
body{
  background: #e2e2e2;
  font-size: 12pt;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
h1, h2 {
  font-size: 16pt;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin: 0 0 10px 0;
  padding: 0 0px 8px 0;
  margin-top: 44px;
}
#wrap {
  width: 1000px;
  height: 650px;
  border-style: hidden;
  background: #fff;
  margin: 2em auto;
  max-width: 1000px;
}
#heading {
  border-top: 60px solid #fff;
  border-left: 70px solid #fff;
  padding-bottom: 10px;
  position: relative;
}

#topbar{z-index:1000;}
#topbar #search{display:block; float:right; width:100%; margin:0px 0 0 0; padding:0;}

.menu-wrapper {
  width: 100%;
  display: table;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  margin:-4px 0 0 0px; padding:30px 0 0 0px; list-style: none;
}
.menu {
  display: table-row;
}
.menu li {
  display: table-cell;
  float: none;
}
.menu li a {
  display: block;
  padding: 8px 15px;
  background: #222;
  font-family: Tahoma;
  font-size: 12px;
  color: #fff;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
}
.menu li a:hover {
  background: #FFFFFF;
  color: #222;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}
.menu-wrapperRight {
  display: table;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  margin:-4px 0 0 0px; padding:0px 0 0 0px; list-style: none;

}
a:link{
  color: inherit;
}
a:visited{
  color: inherit;
}
.usl {
  margin: 0px 0 0 0;
}

.ots {
  margin: 40px 0 0 50px;
}
.page-footer {
  margin-top: 70px;
  border-top: 1px solid #ddd;
  color: #666;
  font-size: 12px;
  line-height: 2.2em;
  padding: 2.2em 0.5em;
  text-align: center;
}
p.page-footer {
  margin-top: -20px;
}
.page-footer_about {
  margin-top: 207px;
  border-top: 1px solid #ddd;
  color: #666;
  font-size: 12px;
  line-height: 2.2em;
  padding: 2.2em 0.5em;
  text-align: center;
}
p.page-footer_about {
  margin-top: -20px;
}
#ab {
  border-left: 70px solid #fff;
  padding-bottom: 10px;
  position: relative
}